<div class="app mat-app-background">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav>
      <mat-list class="sidenav__title">
        <mat-list-item>
          <h2>Formula 1</h2>
        </mat-list-item>
      </mat-list>
      <mat-nav-list class="sidenav__nav-list">
        <mat-divider></mat-divider>
        <mat-list-item class="sidenav__nav-list-item">
          <mat-icon matPrefix>home</mat-icon>
          <span>Home</span>
        </mat-list-item>
        <mat-list-item class="sidenav__nav-list-item">
          <mat-icon matPrefix>calendar_today</mat-icon>
          <span>Race Calendar</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 matSubheader>Standings</h3>
        <mat-list-item class="sidenav__nav-list-item">
          <mat-icon matPrefix>pin</mat-icon>
          <span>Driver Standings</span>
        </mat-list-item>
        <mat-list-item class="sidenav__nav-list-item">
          <mat-icon matPrefix>pin</mat-icon>
          <span>Constructor Standings</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 matSubheader>Drivers</h3>
        <mat-list-item class="sidenav__nav-list-item">
          <mat-icon matPrefix>sports_motorsports</mat-icon>
          <span>Current Drivers</span>
        </mat-list-item>
        <mat-list-item class="sidenav__nav-list-item">
          <mat-icon matPrefix>sports_motorsports</mat-icon>
          <span>All Drivers</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 matSubheader>Circuits</h3>
        <mat-list-item class="sidenav__nav-list-item">
          <mat-icon matPrefix>room</mat-icon>
          <span>Current Circuits</span>
        </mat-list-item>
        <mat-list-item class="sidenav__nav-list-item">
          <mat-icon matPrefix>room</mat-icon>
          <span>All Circuits</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <mat-toolbar class="toolbar">
        <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="content-wrapper">
        <!-- Scheduled Events Section -->
        <div class="section banner">
          <div class="section-inner">
            <div class="section-header">
              <h3>Scheduled Events</h3>
              <mat-divider></mat-divider>
            </div>
            <div class="section-content">
              <div class="scheduled-events">
                <app-event-card></app-event-card>
              </div>
            </div>
          </div>
        </div>
        <!-- Standings -->
        <div class="section standings">
          <div class="section-inner">
            <mat-tab-group class="tab-group" [(selectedIndex)]="selectedIndex" align="center">
              <mat-tab label="Driver Standings" isActive="true">
                <div class="tab-group__content">
                  <app-drivers-standings-table></app-drivers-standings-table>
                </div>
              </mat-tab>
              <mat-tab label="Constructor Standings">
                <div class="tab-group__content">
                  <app-constructors-standings-table></app-constructors-standings-table>
                </div>
              </mat-tab>
              <mat-tab label="Last Race">
                <div class="tab-group__content">
                  <app-last-race-table></app-last-race-table>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
