* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
}

.app, .app-sidenav-container, .app-sidenav {
  height: 100%;
  min-height: 100vh;
}

.app-sidenav {
  min-width: 320px;

  .app-sidenav__title h2 {
    padding: 0;
    margin: 0;
  }

  .app-sidenav__nav-list {
    h3 {
      height: auto;
      margin-top: 10px;
      padding: 5px 16px;
    }
    .app-sidenav__nav-list-item {
      .mat-list-item-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0px 5px;
      }
    }
  }
}
