* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
}

.app, .sidenav-container, .sidenav {
  height: 100%;
  min-height: 100vh;
}

.sidenav {
  min-width: 320px;

  .sidenav__title h2 {
    padding: 0;
    margin: 0;
  }

  .sidenav__nav-list {
    h3 {
      height: auto;
      margin-top: 10px;
      padding: 5px 16px;
    }
    .sidenav__nav-list-item {
      .mat-list-item-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0px 5px;
      }
    }
  }
}

.toolbar {
  color: #fff;
  background: #f53b3b;
}

.content {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    .section {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px 0;
      align-items: center;
      .section-inner {
        width: 100%;
        max-width: 1300px;
      }
      .section-header h3 {
        margin: 0;
        margin-bottom: 5px;
        font-size: 18px;
      }
    }
    .section.banner {
      background: #f1f1f1;
      .mat-divider {
        background: #d8d8d8;
      }
    }
  }
}
